@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,300&display=swap');
cuerpo {
    fondo: degradado lineal (a la derecha, #a0a5ec, #0a3cf0 ); 
}

*{
	font-family: 'Open Sans', sans-serif;
}

h1{
	alineación de texto: centro;
	tamaño de fuente: 50px;
	color: gris;
}
h2{
	alineación de texto: centro;
	color: gris;
}
h3{
	alineación de texto: centro;
}
. menú {
	background-color: #2c36b8;
	Relleno: 20px;
	Radio de borde: 10px;
	Anchura: 800px;
	Altura: 600px;
	Pantalla: Flex;
	dirección flexible: columna;
	align-items: centro;
	justificar-contenido: centro;
	margen: automático;
}
Área de texto {
    Ancho: 100%;
    Altura: 200px;
    tamaño de caja: border-box;
    margin-top: 10px;
    Radio de borde: 10px;
    cambiar tamaño: ninguno;
    Tamaño de fuente: 2REM
}
. entrada{
	text-align: center !important;
	margen: automático;
	Pantalla: Flex;
	Margen inferior: 10px;
}

. Botón {
    Pantalla: Flex;
    dirección flexible: fila;
    justificar-contenido: centro;
    margin-top: 10px;

}
. Botón Boton  {
    margen: 0 5px;
    Anchura: 100px;
    Relleno: 5px;
    Radio de borde: 10px;
}
. encriptar {
	color de fondo: # 2AC25C;
	Color: #FFF;
	borde: ninguno;
	relleno: 10px !importante;
	cursor: puntero;
}
. desencriptar {
	fondo-color: #a2cfeb;
	Color: #3d3c3c;
	borde: ninguno;
	Relleno: 10px;
	cursor: puntero;
}
Pie de página
© 2023 GitHub, Inc.
Navegación de pie de página
Letra chica
Privacidad
Seguridad
Estado
Docs
Póngase en contacto con GitHub
Precios
API
Adiestramiento
Blog
Acerca de
